In [3]:
import pandas as pd #Importa a biblioteca Pandas

In [4]:
dados = pd.read_json("/home/daniel/DataspellProjects/dsProject/dados_compra.json") #Importa os dados

<h2><ol>Contagem de Consumidores</ol></h2>

In [3]:
print(f'Existem um total de {dados.Login.count()} consumidores cadastrados') #Mostra o total de consumidores

Existem um total de 780 consumidores cadastrados

<h2> Número total de consumidores </h2>
    <h3><li> Análise Geral de Compras </li></h3>

In [4]:
dados #Mostra uma visão geral dos dados

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27
...,...,...,...,...,...,...
775,Eural50,22,Masculino,98,"Deadline, Voice Of Subtlety",3.62
776,Lirtossa78,14,Masculino,104,Gladiator's Glaive,1.36
777,Tillyrin30,20,Masculino,117,"Heartstriker, Legacy of the Light",4.15
778,Quelaton80,20,Masculino,75,Brutality Ivory Warmace,1.72
779,Alim85,23,Feminino,107,"Splitter, Foe Of Subtlety",3.61

<h2>Número de itens exclusivos</h2>
<h3><li>Preço médio de compra</li></h3>

In [5]:
media = round(dados.Valor.mean(), 2) #Armazena na variável a média arredondada da coluna 'Valor' do DataFrame 'dados'
print(f'O preço médio das compras é de {media}') #Mostra a média

O preço médio das compras é de 2.93

<h3><li>Número total de compras</li></h3>

In [6]:
print(f'Foram realizadas {dados.shape[0]} compras') #Conta o número do registros no DataFrame 'dados'

Foram realizadas 780 compras

<h3><li>Rendimento total</li></h3>

In [7]:
print(f'Tivemos um rendimento de {dados.Valor.sum()} reais') #Soma e mostra os valores da coluna 'Valor' do DataFrame 'dados'

Tivemos um rendimento de 2286.33 reais


<h2>Informações Demográficas Por Gênero</h2>
<h3><li>Porcentagem e contagem de compradores masculinos</li></h3>

In [43]:
dados_gen = dados['Sexo'].value_counts() # Armazena a quantidade de compras por sexo na variável
total_masc = dados_gen['Masculino'] # Armazena a quantidade de compras do sexo 'Masculino' na variável
print(f'Existem {total_masc} compradores do sexo masculino, representando {round((total_masc * 100) / dados.shape[0], 2)}% do total de consumidores.' ) # Mostra a quantidade de compras do sexo masculino juntamente com sua porcentagem em relação ao valor total de compras

Existem 633 compradores do sexo masculino, representando 81.15% do total de consumidores.

<h3><li>Porcentagem e contagem de compradores do sexo feminino</li></h3>

In [48]:
total_fem = dados_gen['Feminino'] # Armazena a quantidade de compras do sexo 'Feminino' na variável
print(f'Existem {total_fem} compradores do sexo feminino, representando {round((total_fem * 100) / dados.shape[0], 2)}% do total de consumidores.' ) # Mostra a quantidade de compras do sexo feminino juntamente com sua porcentagem em relação ao valor total de compras

Existem 136 compradores do sexo feminino, representando 17.44% do total de consumidores.

<h3><li>Porcentagem e contagem de outros / não divulgados</li></h3>

In [57]:
total_outros = dados_gen['Outro / Não Divulgado'] # Armazena a quantidade de compras do sexo 'Outros' na variável
print(f'Existem {total_outros} compradores que não se identificam como homem ou mulher ou que não optaram por revelar o gênero, representando {round((total_outros * 100) / dados.shape[0], 2)}% do total de consumidores.' ) # Mostra a quantidade de compras de pessoas com sexo não identificado juntamente com sua porcentagem em relação ao valor total de compras

Existem 11 compradores que não se identificam como homem ou mulher ou que não optaram por revelar o gênero, representando 1.41% do total de consumidores.


<h2>Análise de Compras Por Gênero</h2>
<h3><li>Número de compras</li></h3>

In [87]:
dados.groupby('Sexo')['Login'].count() # Mostra o número de compras realizadas por gênero

Sexo
Feminino                 136
Masculino                633
Outro / Não Divulgado     11
Name: Login, dtype: int64

<h3><li>Preço médio de compra</li></h3>

In [84]:
round(dados.groupby('Sexo')['Valor'].mean(), 2) #Mostra a média arredondada por compra realizada por cada gênero

Sexo
Feminino                 2.82
Masculino                2.95
Outro / Não Divulgado    3.25
Name: Valor, dtype: float64

<h3><li> Valor Total de Compra</li></h3>

In [117]:
dados.groupby('Sexo')['Valor'].sum() #Mostra a soma total dos valores gastos por gênero

Sexo
Feminino                  382.91
Masculino                1867.68
Outro / Não Divulgado      35.74
Name: Valor, dtype: float64

<h2>Compras for faixa etária<h2>

In [114]:
compras_Faixa_Idade1 = dados.query('Idade > 1 and Idade <= 10').shape[0] # Armazena na variável a quatidade de compras realizadas por pessoas entre 1 e 10 anos
print(f'Foram realizadas {compras_Faixa_Idade1} compras entre pessoas com 1 a 10 anos') # Mostra os dados
compras_Faixa_Idade2 = dados.query('Idade > 10 and Idade <= 18').shape[0]  #Armazena na variável a quatidade de compras realizadas por pessoas entre 11 e 18 anos
print(f'Foram realizadas {compras_Faixa_Idade2} compras entre pessoas com 11 a 18 anos') # Mostra os dados
compras_Faixa_Idade3 = dados.query('Idade > 18 and Idade <= 60').shape[0] # Armazena na variável a quatidade de compras realizadas por pessoas entre 1 e 10 anos
print(f'Foram realizadas {compras_Faixa_Idade3} compras entre pessoas com 19 a 60 anos') # Mostra os dados
compras_Faixa_Idade4 = dados.query('Idade > 60').shape[0] #Armazena na variável a quatidade de compras realizadas por pessoas com mais de 60 anos
print(f'Foram realizadas {compras_Faixa_Idade4} compras entre pessoas com mais de 60 anos') # Mostra os dados

Foram realizadas 32 compras entre pessoas com 1 a 10 anos
Foram realizadas 142 compras entre pessoas com 11 a 18 anos
Foram realizadas 606 compras entre pessoas com 19 a 60 anos
Foram realizadas 0 compras entre pessoas com mais de 60 anos

<h3>Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela):</h3>
<li>Login</li>
<li>Número de compras</li>
<li>Preço médio de compra</li>
<li>Valor Total de Compra</li>

In [156]:
dados_Compradores = dados.groupby('Login')['Valor'].sum() #Agrupa os Logins de acordo com o valor total que gastaram
dados_Compradores.nlargest(5) #Busca os 5 Logins que mais gastaram

Login
Undirrala66    17.06
Saedue76       13.56
Mindimnya67    12.74
Haellysu29     12.73
Eoda93         11.58
Name: Valor, dtype: float64

In [ ]:
dados.query('Login == "Login acima"').shape[0] #Busca o número de registros do Login inserido

In [ ]:
round(dados.query('Login == "Login acima"').Valor.mean(), 2) # Busca a média do valor gasto por cada Login inserido

In [201]:
dicionario = {'Login' : ['Undirrala66', 'Saedue76', 'Mindimnya67', 'Haellysu29', 'Eoda93'], 'Num Compras': [5, 4, 4, 3, 3], 'Preço Médio compra': [3.41, 3.39, 3.18, 4.24, 3.86], 'Valor Total de Compra': [17.06, 13.56, 12.74, 12.73, 11.58]} # Cria um dicionário

In [202]:
dados_Principais_Comp = pd.DataFrame(data = dicionario) # Transforma o dicionário em um DataFrame

In [203]:
dados_Principais_Comp # Mostra o DataFrame

         Login  Num Compras  Preço Médio compra  Valor Total de Compra
0  Undirrala66            5                3.41                  17.06
1     Saedue76            4                3.39                  13.56
2  Mindimnya67            4                3.18                  12.74
3   Haellysu29            3                4.24                  12.73
4       Eoda93            3                3.86                  11.58

<h3>Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): </h3>
<li>ID do item</li>
<li>Nome do item</li>
<li>Número de compras</li>
<li>Preço do item</li>
<li>Valor Total de Compra</li>

In [36]:
dados.rename(columns={'Nome do Item': 'Item'}, inplace = True) # Renomeia a coluna Nome do Item para Item

In [37]:
dados.rename(columns={'Item ID': 'ID'}, inplace = True) # Renomeia a coluna Item ID para ID

In [42]:
dadosItens = dados.groupby('ID')['Valor'].count() # Agrupa os itens pelo ID de acordo com o numero de vezes que eles aparecem 
dadosItens.nlargest(5) #Busca e mostra os 5 ID's que mais apareceram

ID
39    11
84    11
13     9
31     9
34     9
Name: Valor, dtype: int64

In [68]:
dados.query('ID == Insira o ID') # Mostra os dados gerais da venda pelo ID inserido

            Login  Idade       Sexo  ID             Item  Valor
57       Alallo58     24  Masculino  34  Retribution Axe   4.14
126      Raesty92     25  Masculino  34  Retribution Axe   4.14
175   Raillydeu47     35  Masculino  34  Retribution Axe   4.14
380    Alaephos75     22  Masculino  34  Retribution Axe   4.14
389  Iskistasda86     37  Masculino  34  Retribution Axe   4.14
413    Sondadar26     24  Masculino  34  Retribution Axe   4.14
442        Liri91      7  Masculino  34  Retribution Axe   4.14
448    Sausosia74     25  Masculino  34  Retribution Axe   4.14
746     Ralasti48     35  Masculino  34  Retribution Axe   4.14

In [61]:
round(dados.query('ID == Insira o ID').sum()['Valor'], 2) # Adquire o valor total rendido do item de acordo com o seu ID

37.26

In [62]:
dicionario2 = {'ID': [39, 84, 13, 31, 34], 'Nome do Item':['Betrayal, Whisper of Grieving Widows', 'Arcane Gem', 'Serenity', 'Trickster', 'Retribution Axe'], 'Num de Compras':[11, 11, 9, 9, 9], 'Preço':[2.35, 2.23, 1.49, 2.07, 4.14], 'Total':[25.85, 24.53, 13.41, 18.63, 37.26]} # Cria um dicionário

In [63]:
dados_Itens_Populares = pd.DataFrame(data = dicionario2) # Transforma o dicionário em um DataFrame

In [64]:
dados_Itens_Populares # Mostra o DataFrame

   ID                          Nome do Item  Num de Compras  Preço  Total
0  39  Betrayal, Whisper of Grieving Widows              11   2.35  25.85
1  84                            Arcane Gem              11   2.23  24.53
2  13                              Serenity               9   1.49  13.41
3  31                             Trickster               9   2.07  18.63
4  34                       Retribution Axe               9   4.14  37.26

<h3>Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela):</h3>
<li>ID do item</li>
<li>Nome do item</li>
<li>Número de compras</li>
<li>Preço do item</li>
<li>Valor Total de Compra</li>

In [66]:
dadosItens = dados.groupby('ID')['Valor'].sum() # Agrupa os itens por ID de acordo com o lucro obtido
dadosItens.nlargest(5) # Mostra os 5 ID's de itens que mais geraram lucro

ID
34     37.26
115    29.75
32     29.70
103    29.22
107    28.88
Name: Valor, dtype: float64

In [72]:
dados.query('ID == Insira o ID') # Mostra uma visão geral do item de acordo com o ID inserido

             Login  Idade       Sexo   ID                       Item  Valor
164  Frichossast75     27  Masculino  107  Splitter, Foe Of Subtlety   3.61
275      Yadanun74     25  Masculino  107  Splitter, Foe Of Subtlety   3.61
278     Chanadar44     29  Masculino  107  Splitter, Foe Of Subtlety   3.61
386   Assithasta65     23  Masculino  107  Splitter, Foe Of Subtlety   3.61
441    Ilirrasda54     22  Masculino  107  Splitter, Foe Of Subtlety   3.61
578       Raithe71     25  Masculino  107  Splitter, Foe Of Subtlety   3.61
676     Aellysup38     25  Masculino  107  Splitter, Foe Of Subtlety   3.61
779         Alim85     23   Feminino  107  Splitter, Foe Of Subtlety   3.61

In [79]:
dados.query('ID == Insira o ID').count()['ID'] # Conta quantos registros o ID inserido obteve

8

In [91]:
dados.query('ID == 107')['Valor'] # Mostra o Nº de registro no DataFrame junto com o valor do ID inserido

164    3.61
275    3.61
278    3.61
386    3.61
441    3.61
578    3.61
676    3.61
779    3.61
Name: Valor, dtype: float64

In [87]:
dados.query('ID == Insira o ID').sum()['Valor'] #Mostra o lucro total do item do ID inserido

37.26

In [88]:
dicionario3 = {'ID':[34, 115, 32, 103, 107], 'Nome do Item':['Retribution Axe', 'Spectral Diamond Doomblade', 'Orenmir', 'Singed Scalpel', 'Splitter, Foe Of Subtlety'], 'Num Compras': [9, 7, 6, 6, 8], 'Preço' : [4.14, 4.25, 4.95, 4.87, 3.61], 'Total': [37.26, 29.75, 29.70, 29.22, 28.88]} # Cria um dicionário

In [89]:
dados_Itens_Lucro = pd.DataFrame(data = dicionario3) # Transforma o dicionário em um DataFrame

In [90]:
dados_Itens_Lucro # Mostra o DataFrame

    ID                Nome do Item  Num Compras  Preço  Total
0   34             Retribution Axe            9   4.14  37.26
1  115  Spectral Diamond Doomblade            7   4.25  29.75
2   32                     Orenmir            6   4.95  29.70
3  103              Singed Scalpel            6   4.87  29.22
4  107   Splitter, Foe Of Subtlety            8   3.61  28.88